<mat-toolbar class="toolbar">
  <h2 mat-dialog-title>{{message}}</h2>


           <span class="toolbar-spacer"></span>
   </mat-toolbar>
     <mat-dialog-content>

      <div class="container">
        <form [formGroup]="meetingForm" (submit)="onSubmit()" >
          <div class="form-group">


            <mat-form-field appearance="fill">
              <mat-label>Enter Description</mat-label>
              <input matInput formControlName = "meetingDescription" required>
          </mat-form-field>
          <br>

      <mat-form-field appearance="fill">
        <mat-label>Enter Date</mat-label>
        <input matInput formControlName = "meetingDate"
        [matDatepicker]="myDatePicker" [min]="minDate" [max]="maxDate">
        <mat-datepicker-toggle [for] ="myDatePicker" matSuffix>  </mat-datepicker-toggle>
        <mat-datepicker #myDatePicker></mat-datepicker>
    </mat-form-field>
      <br>


        <mat-form-field appearance="fill">
          <mat-label>Select Meeting Type</mat-label>
          <mat-select  matNativeControl required formControlName="meetingTypeId">
            <mat-option *ngFor="let meetingType of MeetingTypeList" [value]="meetingType.meetingTypeId">
              {{meetingType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>




    <br>
    <mat-action-row class="BtnContainer">
       <button mat-raised-button class="approveBtn" [disabled]="meetingForm.invalid"  type="submit" >
        Submit
         </button>

            <button mat-raised-button  class="declineBtn"  type="button"(click)="onDecline()">
              Cancel
              </button>

              </mat-action-row>
        </div>

        </form>

     </div>
  </mat-dialog-content>
<!--
  <select required name="PeriodID"  class="form-control" formControlName="PeriodID">
    <option value=''>Please select Value</option>
    <option *ngFor="let period of PeriodList" [value]="period.periodID">
        {{period.text}}
    </option>
</select> -->
